.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #128c7e;
    color: white;
}

.header-left {
    flex: 1;
    font-size: 20px;
}

.header-right {
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
}