* {
    font-family: inter, sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.chat-window {
    width: 375px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e5ddd5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}